body {
  font-size: 17px;
  color: #333333;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  text-align: center;
}
h1 {
  color: #540804;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
}

p {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 17px;
}
.container {
  width: 700px;
  margin: 30px auto;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .card-white {
    width: 700px;
    padding: 30px;

  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 600px;
  }
}

#footer {
  background-color: #FFFAEF;
}
#introduction {
  background-color: whitesmoke;
  height: 350px;
  padding: 20px;
}

.btn-blue {
  background-color: #24292E;
  color: white;
  padding: 12px 17px;
  border-radius: 5px;
}

#foto {
  border-radius: 50%;
  width: 130px;
  height: 130px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

#github {
  color: #24292E;
  width: 30px;
}

#insta {
  color:#24292E;
}